@charset "utf-8";
/*
 * Font need to be defined in /public/index.html
 * in a <link rel="" href="" /> tag
 *
 * then do this here :
 * @import url('http://somefont');
 */

/* draw something here ??®¨ */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.coverflow__container__1P-xE {
    background-color: #0f131a;
}
/* Padding helper */
.p-0 { padding: 0px; }
.p-1 { padding: 4px; }
.p-2 { padding: 8px; }
.p-3 { padding: 12px; }
.p-4 { padding: 16px; }
.p-5 { padding: 24px; }
.p-6 { padding: 32px; }

.pt-0 { padding-top: 0px; }
.pt-1 { padding-top: 4px; }
.pt-2 { padding-top: 8px; }
.pt-3 { padding-top: 12px; }
.pt-4 { padding-top: 16px; }
.pt-5 { padding-top: 24px; }
.pt-6 { padding-top: 32px; }

.pl-0 { padding-left: 0px; }
.pl-1 { padding-left: 4px; }
.pl-2 { padding-left: 8px; }
.pl-3 { padding-left: 12px; }
.pl-4 { padding-left: 16px; }
.pl-5 { padding-left: 24px; }
.pl-6 { padding-left: 32px; }

.pr-0 { padding-right: 0px; }
.pr-1 { padding-right: 4px; }
.pr-2 { padding-right: 8px; }
.pr-3 { padding-right: 12px; }
.pr-4 { padding-right: 16px; }
.pr-5 { padding-right: 24px; }
.pr-6 { padding-right: 32px; }

.pb-0 { padding-bottom: 0px; }
.pb-1 { padding-bottom: 4px; }
.pb-2 { padding-bottom: 8px; }
.pb-3 { padding-bottom: 12px; }
.pb-4 { padding-bottom: 16px; }
.pb-5 { padding-bottom: 24px; }
.pb-6 { padding-bottom: 32px; }

/* Margin helpers */
.m-0 { margin: 0px; }
.m-1 { margin: 4px; }
.m-2 { margin: 8px; }
.m-3 { margin: 12px; }
.m-4 { margin: 16px; }
.m-5 { margin: 24px; }
.m-6 { margin: 32px; }

.mt-0 { margin-top: 0px; }
.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }
.mt-5 { margin-top: 24px; }
.mt-6 { margin-top: 32px; }

.ml-0 { margin-left: 0px; }
.ml-1 { margin-left: 4px; }
.ml-2 { margin-left: 8px; }
.ml-3 { margin-left: 12px; }
.ml-4 { margin-left: 16px; }
.ml-5 { margin-left: 24px; }
.ml-6 { margin-left: 32px; }

.mr-0 { margin-right: 0px; }
.mr-1 { margin-right: 4px; }
.mr-2 { margin-right: 8px; }
.mr-3 { margin-right: 12px; }
.mr-4 { margin-right: 16px; }
.mr-5 { margin-right: 24px; }
.mr-6 { margin-right: 32px; }

.mb-0 { margin-bottom: 0px; }
.mb-1 { margin-bottom: 4px; }
.mb-2 { margin-bottom: 8px; }
.mb-3 { margin-bottom: 12px; }
.mb-4 { margin-bottom: 16px; }
.mb-5 { margin-bottom: 24px; }
.mb-6 { margin-bottom: 32px; }

/* Display helpers */
.flex {
    display: flex
}
.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}
.w-100 {
    width: 100%;
}

/* Align helpers */
.text-center {
    text-align: center;
}
.bottomRightFixed {
    position: fixed !important;
    right: 32px;
    bottom: 32px;
}

.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
}

.avatar img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}